<h2><%= @restaurant.name %></h2>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number:<%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <td>Rating</td>
      <td>Content</td>
    </tr>
  </thead>

  <% @restaurant.reviews.each do |review| %>
    <tr>
      <td><%= review.rating %></td>
      <td><%= review.content %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Back to restaurant list", restaurants_path %>
<%= link_to "Add a new review", new_restaurant_review_path(@restaurant) %>
